name: HashChat CI/CD

on:
  push:
    branches: [ "main" ] # Runs every time you push to the main branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          # This points to your backend sub-folder
          context: ./SpringBoot_Backend 
          file: ./SpringBoot_Backend/Dockerfile
          push: true
          tags: realhkv/hashchat-deployement:latest

      - name: Trigger Render Deploy
        # This tells Render "Hey, there's a new image, go update!"
        run: curl -f ${{ secrets.RENDER_DEPLOY_HOOK }}